.hidden {
  display: none;
}

.container {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
}

.wrap-row {
  flex-wrap: wrap;
}

.column-full,
form,
h2 {
  width: 100%;
  padding: 0 5px;
}

form {
  font-size: 0;
}

.column-half-h {
  display: flex;
  align-items: center;
  width: 100%;
}

.left-half {
  text-align: left;
}

.right-half {
  text-align: right;
}

.input-bar {
  width: 110px;
  height: 18px;
}

.search-button {
  width: 35px;
  height: 18px;
  margin-right: 5px;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.column-one-third {
  display: flex;
  justify-content: center;
  flex-basis: calc(100% / 2);
  padding: 5px;
}

.card-container {
  border: 1px gainsboro solid;
  width: 150px;
  padding: 8px;
}

.img-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
  width: 130px;
  height: 190px;
}

.column-info {
  display: flex;
  width: 120px;
  margin: auto;
  padding-top: 10px;
}

.column-info > .favorite-icon {
  margin-right: 3px;
}

.column-info > .favorite-icon-on {
  margin-right: 3px;
}

.anime-title-top {
  margin: 0;
  height: 20px;
  overflow: hidden;
}

.top-rank,
.top-genre {
  display: none;
}

.column-load {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
}

.loading {
  font-size: 50px;
}

.large-col {
  width: 100%;
  border: solid gainsboro 1px;
}

.large-top-info {
  display: flex;
  flex-wrap: wrap;
}

.large-img-container {
  position: relative;
  object-fit: contain;
  width: 150px;
  height: 225px;
}

.large-column-info {
  flex-basis: calc(100% / 2);
}

.large-column-info > .favorite-icon {
  width: 100%;
  padding: 0.5rem;
  text-align: left;
}

.large-column-info > .favorite-icon-on {
  width: 100%;
  padding: 0.5rem;
  text-align: left;
}

.large-mid-info {
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
}

.large-half {
  width: 50%;
}

.large-h4,
.large-title,
.large-rank,
.large-genre {
  margin: 0;
  padding: 0.5rem;
  border-bottom: solid 1px gainsboro;
}

.large-full-column {
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 568px) {
  .input-bar {
    width: 150px;
    height: 22px;
  }

  .search-button {
    height: 22px;
  }

  .column-one-third {
    flex-basis: calc(100% / 3);
    margin: auto;
  }

  .large-top-info {
    width: 100%;
    padding: 0 8px;
  }

  .large-column-info {
    height: 50%;
  }

  .large-mid-info {
    height: 50%;
  }

  .large-img-container {
    width: 190px;
    height: 240px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 30px;
  }

  .menu-button {
    font-size: 16px;
  }

  .input-bar {
    width: 180px;
    height: 22px;
  }

  .search-button {
    width: 30px;
    height: 22px;
  }

  .anime-title-top,
  .favorite-icon,
  .favorite-icon-on {
    width: 100%;
    margin: 5px 0;
  }

  .favorite-icon,
  .favorite-icon-on {
    text-align: right;
  }

  .top-rank,
  .top-genre,
  .card-container {
    display: flex;
    text-align: left;
  }

  .card-container {
    width: 100%;
    padding: 0;
  }

  .column-info {
    display: block;
    width: 60%;
    margin: 0;
    padding: 0 0.5rem 0 0.5rem;
  }

  .column-one-third {
    flex-basis: calc(100% / 2);
    padding: 12px;
  }

  .img-container {
    width: 200px;
    height: 280px;
    left: 0;
    transform: translateX(0%);
  }

  .large-h4,
  .large-title,
  .large-rank,
  .large-genre {
    border-bottom: solid 1px gainsboro;
  }

  .large-top-info {
    flex-direction: column;
    width: 100%;
    height: 280px;
    padding: 0 8px;
  }

  .large-column-info {
    width: 80%;
    height: auto;
  }

  .large-mid-info {
    width: 80%;
    height: auto;
  }

  .large-img-container {
    width: 200px;
    height: 280px;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 35px;
  }

  .input-bar {
    width: 220px;
    height: 30px;
  }

  .search-button {
    width: 40px;
    height: 30px;
  }

  .column-one-third {
    flex-basis: calc(120% / 3);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 75vw;
    margin: auto;
  }

  .column-one-third {
    flex-basis: calc(100% / 3);
  }

  .large-img-container {
    width: auto;
    height: 100%;
  }

  .large-top-info {
    height: 320px;
    padding: 0;
  }
}
