body {
  font-family: 'Philosopher', sans-serif;
}

header {
  font-family: 'Philosopher', sans-serif;
  font-style: italic;
  background-color: rgb(0, 105, 158);
  color: white;
}

.menu-button,
.search-button {
  cursor: pointer;
  outline: none;
}

.menu-button {
  color: white;
  background: none;
  border: none;
  transition: color  0.2s ease-in-out;
  font-weight: bold;
}

.title {
  font-weight: bold;
}

.first-word {
  font-weight: bold;
}

.input-bar,
.search-button {
  border-radius: 4px;
  border: solid darkgray 1px;
}

.favorite-icon {
  cursor: pointer;
  color: gray;
}

.favorite-icon-on {
  cursor: pointer;
  color: yellow;
  text-shadow: 0 0 2px rgb(30, 30, 30);
}

.input-bar {
  outline: none;
}

.card-container,
.large-top-info,
.large-full-column,
.large-mid-info {
  background-color: whitesmoke;
}

.menu-button:hover {
  color: yellow;
}

@media screen and (min-width: 1024px) {
  .favorite-icon:hover {
    color: yellow;
    text-shadow: 0 0 2px rgb(30, 30, 30);
  }
}
